* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --header-color: #fcf8f8;
  --hover-color: #cb98a0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
}

.btn{
  display: inline-block;
  padding: .9rem 3.5rem;
  background-color: #333;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: scale .3s linear;
  -webkit-transition: scale .3s linear;
  -moz-transition: scale .3s linear;
  -ms-transition: scale .3s linear;
  -o-transition: scale .3s linear;
}
.btn:hover{
  scale: 1.1;
  background-color: var(--hover-color);
}
section{
  padding: 2rem 9%;
}
/**======================
 **  HEADER
 **========================**/
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2rem 9%;
  background-color: var(--header-color);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .title {
  font-size: 3rem;
  color: #ae7070;
  font-weight: bolder;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .title:hover {
  cursor: pointer;
  transform: translate(0rem, -1rem);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
header .items a {
  display: inline-block;
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .items a:hover {
  color: #cb98a0;
  transform: translateY(-0.2rem) scale(1.1);
  -webkit-transform: translateY(-0.2rem) scale(1.1);
  -moz-transform: translateY(-0.2rem) scale(1.1);
  -ms-transform: translateY(-0.2rem) scale(1.1);
  -o-transform: translateY(-0.2rem) scale(1.1);
}

header .icons i {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .icons i:hover {
  scale: 1.2;
}

header .fa-bars {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: none;
}
header #togler {
  display: none;
}

/**======================
 **    Home
 **========================**/
.home{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(/images/mainimage.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home .content{
  max-width: 50rem;
}
.home .content h1{
  font-size: 6rem;
  color: #333;
}
.home .content span{
  font-size: 3.5rem;
  color: var(--hover-color);
  padding: 1rem 0;
  line-height: 1.5;

}

.home .content p{
  font-size: 1.5rem;
  color: #818181;
  padding: 1rem 0;
  line-height: 1.5;

}


/* media querie */
@media (max-width: 1080px) {
  header .items a {
    padding: 0 1rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header{
    padding: 2rem;
  }
  section{
    padding: 2rem;
  }
  .home{
    background-position: left;
  }
}
@media (max-width: 825px) {
  header .fa-bars {
    display: block;
  }
  header .items {
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #togler:checked ~ .items {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .items a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    background: #fff;
  }

  .home .content h1{
    font-size: 7rem;
  }
  .home .content span{
    font-size: 4rem;
  }
  .home .content p{
    font-size: 1.6;
  }

  
}
@media (max-width:600px){
  .home{
    background-image: url(/images/second.png);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
