* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --header-color: #fcf8f8;
  --hover-color: #cb98a0;

}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
}

/**======================
 **  HEADER
 **========================**/
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2rem 9%;
  background-color: var(--header-color);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .title {
  font-size: 3rem;
  color: #ae7070;
  font-weight: bolder;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .title:hover {
  cursor: pointer;
  transform: translate(0rem, -1rem);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
header .items a {
  display: inline-block;
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .items a:hover {
  color: #cb98a0;
  transform: translateY(-.2rem) scale(1.1);
  -webkit-transform: translateY(-.2rem) scale(1.1);
  -moz-transform: translateY(-.2rem) scale(1.1);
  -ms-transform: translateY(-.2rem) scale(1.1);
  -o-transform: translateY(-.2rem) scale(1.1);
}

header .icons i {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
header .icons i:hover {
  scale: 1.2;
}

/* responsive  navbar*/
header .fa-bars{
  cursor: pointer;
  font-size: 2.5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: 2px solid black;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: none;
}